* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Calibri;
}

body {
  min-height: 100vh;
  line-height: 1;
  background-color: #eee;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  outline: none;
  background-color: transparent;
}
